* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  background: #d7d7d7;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.contenedor {
  width: 100%;
  max-width: 100%;
  /* height: 100%; */
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "contenido contenido contenido"
    "widget-1 widget-2 widget-3 "
    "footer footer footer";
}


.contenedor .contenido,
.contenedor .footer {
  /* background: #e80808; */
  padding: 2px;
  border-radius: 4px;
}
/* Estilo del header*/
.contenedor .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #2b222c;
  color: #fff;
  grid-area: header;
}
.logoTravels {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 20px;
}
.titulo-header {
  font-family: sofia;
  font-size: 50px;
  color: #e0beee;
}
.p-header {
  font-family: sofia;
  font-size: 30px;
  color: #e0beee;
}


.nav-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  padding: 10px;
}
 .abrir-menu,      /*     menu hamburgesa */
.cerrar-menu{
  display: none;
}

@media screen and (max-width:550px) {
   .abrir-menu,
   .cerrar-menu{
    display: block;
  }
  .nav{
   /*  display: none; */
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: end; 
    /* bottom: 0; */
    background-color: #39084c; 
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5); 
  } 
  .nav-link{
    flex-direction: column;
    align-items: end;
  }
  .nav.visible{
      opacity: 1;
      visibility: visible;
    }
  }

a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.contenedor .contenido {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #0a0a0a;
  grid-area: contenido;
  gap: 8px;
}
.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .widget-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #55a8fd;
  color: #fff;
  height: 100px;
  width: auto;
  border: black solid 4px;
}
.contenedor .widget-1 {
  grid-area: widget-1;
}
.contenedor .widget-2 {
  grid-area: widget-2;
}
.contenedor .widget-3 {
  grid-area: widget-3;
}

.contenedor .footer {
  background: #5e4352;
  color: #fff;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilo de los elementos del Header*/

@media only screen and (max-width: 576px) {
  .contenedor {
    grid-template-areas:
      "header"
      "contenido"
      "widget-1"
      "widget-2"
      "widget-3"
      "footer";
  }
}
@media only screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header header"
      "contenido contenido"
      "widget-1 widget-2"
      "widget-3 footer";
  }
}

.containerCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}
.card {
  justify-content: center;
  width: 25rem;
  height: 50rem;
  background: white;
  border: 4px solid rgb(15, 15, 15);
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  padding: 2px;
}
.imgCard {
  border-radius: 20px;
  width: 23rem;
  height: 35rem;
  padding: 3px;
}
.contenedorForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3px;
  gap: 10px;
}

.imgForm {
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 5px;
}

.contenidoform {
  border: solid 2px black;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  font-size: large;
}
input,
textarea,
select {
  background-color: #2b222c;
  color: gray;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}
input[type="submit"],
input[type="reset"] {
  background-color: #5E4352;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin: 5px 5px 0 0;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #5E4352;
}

h2 {
  text-align: center;
  color: rgb(20, 20, 20);
}
@media (max-width: 768px) {
  .contenedorForm {
    flex-direction: column;
    align-items: center;
  }
  .imgForm {
    width: 100%;
    max-width: 300px;
  }
  .contenidoform {
    width: 100%;
    max-width: 500px;
  }
}
#dataContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  gap: 10px;
}
.imghotel {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  border-radius: 5px;
}
.hotelInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: center;
  width: 100%;
  height: 450px;
  border: 1px solid rgb(61, 60, 60);
  border-radius: 25px;
  background-color: #e8f7f6;
  gap: 10px;
 
}
.parrafo {
  color: rgb(59, 6, 43);
  font-family: sofía;
  font-size: 15px;
  text-align: justify;
  padding: 60px; 
  font-size: 20px;
}
.btnReservar{
  background-color:#50104c;
  color: white;
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
}

.btnReservar:hover {
  background-color: #d8088f;
}
/* Estilo actividades*/

.imgecoparque {
  width: 900px;
  padding: 30px;
  height: 550px;
  border-radius: 10px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;

}

.titulo {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.parrafo{
  padding: 20px;
  margin: 20px;
  text-align: justify;
}

.iframe{
  padding: 20px;
  margin: 20px;
  align-items: center;
}

/* DROPDOWN MENU Catalogo Turistico */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: rgb(248, 246, 246);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #e0bce9;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*Estilos del Footer*/

.footer {
  width: 100%;
  background-color: #f1f1f1; 
  /* position: fixed;  */
  bottom: 0;
}

.contenedorFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}

.detalleFooter {
  display: flex;
  align-items: center;
  padding: 4px;
}

.iconsFooter {
  padding: 2px;
  width: 40px;
}

/*Estilos de la Galeria de Imagenes del Home*/
.infoContendido{
  width: 90%;
  height: 200px;
  /* border: 3px solid black; */
  /* box-shadow: 1px; */
  font-family: sofia;
  font-size: 30px;
  color: #50104c;
  text-align: center;
}
.galeria {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 4px;
}
.imgIndex {
  width: 500px;
  height: 400px;
  border-radius: 60px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.imgIndex:hover {
  opacity: 0.3;
}
.textIndex {
  position: absolute;
  width: 400px;
  height: 200px;
  top: 20%;
  left: 10%;
  right: 10%;
  bottom: 20%;
  transform: translateX(-50%, -50%);
  background: rgba(6, 6, 6, 0.2);
  color: rgb(61, 3, 36);
  font-size: 20px;
  text-align: center;
  border-radius: 60px;
  background-color: cornsilk;
}
.textIndex:hover {
  opacity: 0.2;
}
.imgNosotras{
  width: 300px;
  height: 400px;
}

#dataSitios {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  gap: 10px;
}
.imgsitio {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  border-radius: 5px;
}
.sitioInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: center;
  width: 100%;
  height: 450px;
  border: 1px solid rgb(61, 60, 60);
  border-radius: 25px;
  background-color: #e8f7f6;
  gap: 10px;
 
}
.p-sitio {
  color: rgb(59, 6, 43);
  font-family: sofía;
  font-size: 15px;
  text-align: justify;
  padding: 60px; 
  font-size: 20px;
}


 /* Estilos base */
#containerNosotras {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%; /* Cambiado a porcentaje */
  max-width: 1200px; /* Agregado un ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
  justify-content: space-between;
  gap: 30px;
}

.imgnosotras {
  width: 100%; /* Cambiado a porcentaje */
  max-width: 300px; /* Agregado un ancho máximo */
  height: auto; /* Altura automática para mantener la proporción */
  margin-top: 20px;
  margin-left: auto; /* Centrar horizontalmente */
  margin-right: auto; /* Centrar horizontalmente */
  border-radius: 60px;
}

.nosotrasInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; /* Cambiado a porcentaje */
  max-width: 800px; /* Agregado un ancho máximo */
  height: auto; /* Altura automática */
  border: solid 5px rgb(40, 5, 24);
  border-radius: 25px;
  background-color: #e8f7f6;
  gap: 20px;
  padding: 20px;
}

.p-nosotras {
  color: rgb(59, 6, 43);
  font-family: sofía;
  font-size: 1em; 
  text-align: justify;
  padding: 5px;
}

.h3Nosotras {
  text-align: center; /* Modificado a centrado */
  color: #965D62;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  #containerNosotras {
    width: 90%; /* Ajuste de ancho para pantallas pequeñas */
  }
}




@media (max-width: 768px) {
  .nosotrasInfo {
    width: calc(100% - 20px); /* Ajusta el ancho para una tarjeta por fila en dispositivos más pequeños */
  }



/* responsive para el formulario */ 
@media (min-width: 576px) {
.contenedorForm, .contenidoform {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
 .contenedorForm, .contenidoform {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
.contenedorForm, .contenidoform{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
.contenedorForm, .contenidoform{
    max-width: 1140px;
  }
}}